.form-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: rgb(87, 11, 11);
}

.container {
    background-color: white;
    width: 80vw;
}